1. ### Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:

A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
import warnings
warnings.simplefilter("ignore")
warnings.filterwarnings("ignore")
import requests
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
import pandas as pd
import time
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, ElementClickInterceptedException

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
page = requests.get(url)
print("Legality Response number from our URL is:", page) # to show the response output from the webpage
soup = BeautifulSoup(page.content)

driver=webdriver.Chrome(r"C:\Users\Lenovo\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
driver.get(url)
driver.maximize_window()
driver.find_element_by_xpath("//b").click()
records = []
for row in driver.find_elements_by_xpath("(//table[@class='wikitable sortable jquery-tablesorter'])[1]//tr")[1:-1]:
    temp = ''
    for element in row.find_elements_by_xpath(".//td"):        
        temp += element.text + '|'
    records.append(temp.split('|')[:-2])

df = pd.DataFrame(records, columns=['Rank', 'Video_Name', 'Artist_Name', 'Views_in_Billions', 'Upload_Date'])

arranged_cols = ['Rank', 'Video_Name', 'Artist_Name', 'Upload_Date', 'Views_in_Billions']

df.Video_Name = df.Video_Name.apply(lambda x:x[:-4].strip('"'))
df = df[arranged_cols]
df

Legality Response number from our URL is: <Response [200]>

,Rank,Video_Name,Artist_Name,Upload_Date,Views_in_Billions
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.90
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.68
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.06
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.57
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.37
5,6.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",4.79
6,7.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.54
7,8.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.48
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.41
9,10.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.37
10,11.,Gangnam Style,Psy,"July 15, 2012",4.29
11,12.,Dame Tu Cosita,El Chombo,"April 5, 2018",3.77
12,13.,Sugar,Maroon 5,"January 14, 2015",3.61
13,14.,Sorry,Justin Bieber,"October 22, 2015",3.50
14,15.,Roar,Katy Perry,"September 5, 2013",3.49
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.47
16,17.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",3.44
17,18.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.38
18,19.,Girls Like You,Maroon 5,"May 31, 2018",3.20
19,20.,Faded,Alan Walker,"December 3, 2015",3.20
20,21.,Dark Horse,Katy Perry,"February 20, 2014",3.20
21,22.,Axel F,Crazy Frog,"June 16, 2009",3.15
22,23.,Bailando,Enrique Iglesias,"April 11, 2014",3.14
23,24.,Let Her Go,Passenger,"July 25, 2012",3.14
24,25.,Lean On,Major Lazer,"March 22, 2015",3.14
25,26.,Shake It Off,Taylor Swift,"August 18, 2014",3.13
26,27.,Perfect,Ed Sheeran,"November 9, 2017",3.05
27,28.,Mi Gente,J Balvin,"June 29, 2017",3.02
28,29.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.02
29,30.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.01

2. ### Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
    
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [76]:
driver=webdriver.Chrome(r"C:\Users\Lenovo\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
url="https://www.bcci.tv/international/fixtures"
driver.get(url)

In [81]:
Date_Time =[]
Ground=[]
Test_ODI=[]
Team=[]

team=driver.find_elements_by_xpath("//div[@class='fixture__teams']")
time.sleep(3)
for i in team:
    if i.text is None :
        Team.append("--") 
    else:
        Team.append(i.text.replace('\n'," "))

ground=driver.find_elements_by_xpath("//p[@class='fix-place ng-binding ng-scope']/div")
time.sleep(3)
for i in ground:
    if i.text is None :
        Ground.append("--") 
    else:
        Ground.append(i.text)
date=driver.find_elements_by_xpath("//div[@class='fixture__datetime desktop-only']")
time.sleep(3)
for i in date:
    if i.text is None :
        Date_Time.append("--") 
    else:
        Date_Time.append(i.text.replace('\n',' '))
to=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")
time.sleep(3)
for i in to:
    if i.text is None :
        Test_ODI.append("--") 
    else:
        Test_ODI.append(i.text)

In [82]:
df=pd.DataFrame({})
df['Team']=team
df['Date_Time']=date
df['Series']=to
df['Ground']=ground
df.head()

Empty DataFrame
Columns: [Team, Date_Time, Series, Ground]
Index: []

3. ### Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
    
You need to find following details:

A) Name
B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [6]:
url = "https://www.guru99.com/"
page = requests.get(url)
print("Legality Response number from our URL is:", page) # to show the response output from the webpage
soup = BeautifulSoup(page.content)

driver=webdriver.Chrome(r"C:\Users\Lenovo\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
driver.get(url)
driver.maximize_window()

error = driver.find_element_by_xpath('//*[@id="java_technologies"]/li[3]/a').get_attribute('href')
driver.get(error)
time.sleep(3)
exception = driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a').get_attribute('href')
driver.get(exception)

Data = []
table = driver.find_elements_by_xpath("//table[@class='table table-striped']//td")
for i in table:
    try:
        Data.append(i.text)
    except NoSuchElementException:
        Data.append('-')

Name = []
for i in range(2,len(Data),2):
    Name.append(Data[i])

Description = []
for i in range(3,len(Data),2):
    Description.append(Data[i])

df=pd.DataFrame({"Exception name": Name, "Exception description": Description})
df

Legality Response number from our URL is: <Response [403]>

,Exception name,Exception description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4. ### Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
    
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [4]:
driver=webdriver.Chrome(r"C:\Users\Lenovo\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
url="http://statisticstimes.com/economy/india/indian-states-gdp.php"
driver.get(url)
time.sleep(5)
Rank=[]
State =[]
GDP=[]
GSDP_Current=[]
GSDP_Previous=[]
Share=[]

#scraping the Rank 
r=driver.find_elements_by_xpath("//td[@class='data1']")
for i in r:
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)
St=driver.find_elements_by_xpath("//td[@class='name']")
for i in St:
    if i.text is None :
        State.append("--") 
    else:
        State.append(i.text)
gdp=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[6]")
for i in gdp:
    if i.text is None :
        GDP.append("--") 
    else:
        GDP.append(i.text)
#scraping the Share 
shr=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]")
for i in shr:
    if i.text is None :
        Share.append("--") 
    else:
        Share.append(i.text)
        
#scraping the GSDP_Current 
shr=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]")
for i in shr:
    if i.text is None :
        GSDP_Current.append("--") 
    else:
        GSDP_Current.append(i.text)
#scraping the GSDP_Previous 
shr=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[8]")
for i in shr:
    if i.text is None :
        GSDP_Previous.append("--") 
    else:
        GSDP_Previous.append(i.text)

In [3]:
#Creating Dataframe
SGDP=pd.DataFrame([])
SGDP['Rank']=Rank[:33]
SGDP['State']=State[:33]
SGDP['Share In GDP']=Share[:33]
SGDP['GDP of State']=GDP[:33]
SGDP['GSDP_Current']=GSDP_Current[:33]
SGDP['GSDP_Previous']=GSDP_Previous[:33]
SGDP

,Rank,State,Share In GDP,GDP of State,GSDP_Current,GSDP_Previous
0,1,Maharashtra,13.94%,399.921,"2,632,792","2,039,074"
1,2,Tamil Nadu,8.63%,247.629,"1,630,208","1,215,307"
2,3,Uttar Pradesh,8.39%,240.726,"1,584,764","1,123,982"
3,4,Gujarat,7.96%,228.290,"1,502,899","1,186,379"
4,5,Karnataka,7.91%,226.806,"1,493,127","1,091,077"
5,6,West Bengal,5.77%,165.556,"1,089,898","739,525"
6,7,Rajasthan,4.99%,143.179,"942,586","677,428"
7,8,Andhra Pradesh,4.57%,131.083,"862,957","621,301"
8,9,Telangana,4.56%,130.791,"861,031","612,828"
9,10,Madhya Pradesh,4.29%,122.977,"809,592","522,009"
10,11,Kerala,4.14%,118.733,"781,653","559,412"
11,12,Delhi,4.10%,117.703,"774,870","590,569"
12,13,Haryana,3.89%,111.519,"734,163","531,085"
13,14,Bihar,2.81%,80.562,"530,363","375,651"
14,15,Punjab,2.79%,79.957,"526,376","397,669"
15,16,Odisha,2.58%,74.098,"487,805","376,877"
16,17,Assam,1.67%,47.982,"315,881","234,048"
17,18,Chhattisgarh,1.61%,46.187,"304,063","231,182"
18,19,Jharkhand,1.57%,45.145,"297,204","224,986"
19,20,Uttarakhand,1.30%,37.351,"245,895","193,273"
20,21,Jammu & Kashmir,0.83%,23.690,"155,956","112,755"
21,22,Himachal Pradesh,0.81%,23.369,"153,845","117,851"
22,23,Goa,0.39%,11.115,"73,170","57,787"
23,24,Tripura,0.26%,7.571,"49,845","36,963"
24,25,Chandigarh,0.22%,6.397,"42,114","31,192"
25,26,Puducherry,0.18%,5.230,"34,433","23,013"
26,27,Meghalaya,0.18%,5.086,"33,481","24,682"
27,28,Sikkim,0.15%,4.363,"28,723","18,722"
28,29,Manipur,0.15%,4.233,"27,870","19,300"
29,30,Nagaland,0.14%,4.144,"27,283","17,647"
30,31,Arunachal Pradesh,0.13%,3.737,"24,603","16,676"
31,32,Mizoram,0.12%,3.385,"22,287","16,478"
32,33,Andaman & Nicobar Islands,-,-,-,-

5. ### Scrape the details of trending repositories on Github.com.
Url = https://github.com/
    
You have to find the following details:
    
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [103]:
driver=webdriver.Chrome(r"C:\Users\Lenovo\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
driver.get('https://github.com/trending')

In [113]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

for i in href:
    tit=driver.find_element_by_xpath("//h1 [@class = ' d-flex flex-wrap flex-items-center break-word f3 text-normal']")
    Repository_title.append(tit.text.replace('\n',' '))
    try:
        des=driver.find_element_by_xpath("//div [@class = 'BorderGrid-cell']/p [@class = 'f4 mt-3']")
        Repository_description.append(des.text)
    except:
        Repository_description.append("-")
    count=[]
    try:
        for i in driver.find_elements_by_xpath("//h2 [@class = 'h4 mb-3']//span [@class = 'Counter ']"):
            count.append(i.get_attribute('title'))
            Contributors_count.append(count[-1])
    except:
        Contributors_count.append('1')
        lang=[]
        for i in driver.find_elements_by_xpath("//ul [@class = 'programmingLanguage']/li [@class = 'd-inline']//span"):
            lang.append(i.text)
        if(" ".join(lang))=='':
            Language_used.append('-')
        else:
            Language_used.append(" ".join(lang))
        driver.close()

In [114]:
print(len(Repository_title))
print(len(Language_used))
print(len(Repository_description))
print(len(Contributors_count))

0
0
0
0

In [115]:
github=pd.DataFrame({
    "Repository_Title":Repository_title,
    "Repository_description":Repository_description,
    "Contributors_count":Contributors_count[:25],
    "Language_used":Language_used
})
github

Empty DataFrame
Columns: [Repository_Title, Repository_description, Contributors_count, Language_used]
Index: []

6. ### Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/

You have to find the following details:

A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

7. ### Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/

You have to find the following details:

A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [20]:
url = "https://www.naukri.com/"
page = requests.get(url)
print("Legality Response number from our URL is:", page) # to show the response output from the webpage
soup = BeautifulSoup(page.content)

driver=webdriver.Chrome(r"C:\Users\Lenovo\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
driver.get(url)
driver.maximize_window()

rec = driver.find_element_by_xpath('/html/body/div[1]/div[1]/div/ul[1]/li[2]/a/div').click()
driver.switch_to_window(driver.window_handles[1]) # switching window to make the main window as primary
search = driver.find_element_by_xpath("//div[@class='inpWrap']/input")
search.send_keys('Data Science')
search_btn = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

name = []
designation = []
company = []
skills = []
location = []

# fetching Names
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    name.append(i.text)
    
# fetching Designation
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    designation.append(i.text)

# fetching Company names
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]/a[2]"):
    company.append(i.text)
    
# fetching  Skills
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        skills.append(i.text)
    except NoSuchElementException:
        skills.append('-')
                
# fetching Locations
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]//span"):
    location.append(i.text)
    
# Creating a dataframe
data = list(zip(name, designation, company, skills, location))
df = pd.DataFrame(data, columns = ["Name", "Designation", "Company Name", "Skills they hire for", "Location"])
df

Legality Response number from our URL is: <Response [200]>

,Name,Designation,Company Name,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Aakash Harit
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",HR Manager
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Delhi
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",shravan Kumar Gaddam
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",Company Recruiter
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Hyderabad / Secunderabad
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,MARSIAN Technologies LLP
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Company HR
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Pune
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Anik Agrawal
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Company Recruiter
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Ahmedabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",subhas patel
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Founder CEO
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",UK - (london)
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Abhishek - Only Analytics Hiring - India and
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Recruitment Lead Consultant
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Vadodara / Baroda
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Institute for Financial Management and Resear
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Programme Manager
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Chennai
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Balu Ramesh
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",HR Administrator
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Trivandrum
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Asif Lucknowi
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Director
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Indore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",InstaFinancials
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Human Resource
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Priyanka Akiri
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",HR Manager
32,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Hyderabad
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Kalpana Dumpala
34,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Executive Hiring
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Hyderabad / Secunderabad
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Mubarak
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Company HR
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Bengaluru / Bangalore
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Kushal Rastogi
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Company HR
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Mahesh Babu Channa
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",HR Team Lead
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Sakshi Chhikara
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Assistant Manager HR
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Chandigarh
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Kapil Devang
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",HR Manager

8. ### Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [21]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
page = requests.get(url)
print("Legality Response number from our URL is:", page) # to show the response output from the webpage
soup = BeautifulSoup(page.content)

driver=webdriver.Chrome(r"C:\Users\Lenovo\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
driver.get(url)
driver.maximize_window()

Book_name = []
Author_name = []
Volume_sold = []
Publisher = []
Genre = []

try: # Scraping Book name
    for i in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[2]"):
        Book_name.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping Author name
    for i in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[3]"):
        Author_name.append(i.text)
except NoSuchElementException as e:
    print("-")
        
try: # Scraping Volume sold
    for i in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[4]"):
        Volume_sold.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping Publisher
    for i in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[5]"):
        Publisher.append(i.text)
except NoSuchElementException as e:
    print("-") 
    
try: # Scraping Genre
    for i in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[6]"):
        Genre.append(i.text)
except NoSuchElementException as e:
    print("-")
    
# Creating data frame 
Books=pd.DataFrame({'Book Name': Book_name, 'Author Name': Author_name, 'Volume Sold': Volume_sold,
                    'Publisher': Publisher, 'Genre' : Genre})
Books

Legality Response number from our URL is: <Response [200]>

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. ### Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [22]:
url = "https://www.imdb.com/list/ls095964455/"
page = requests.get(url)
print("Legality Response number from our URL is:", page) # to show the response output from the webpage
soup = BeautifulSoup(page.content)

driver=webdriver.Chrome(r"C:\Users\Lenovo\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
driver.get(url)
driver.maximize_window()

name = []
year = []
genre = []
runtime = []
rating = []
vote = []
try: # Scraping Name
    for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
        name.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping Year span
    for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
        year.append(i.text)
except NoSuchElementException as e:
    print("-")
        
try: # Scraping Genre
    for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[5]"):
        genre.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping Run time
    for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[3]"):
        runtime.append(i.text)
except NoSuchElementException as e:
    print("-") 
    
try: # Scraping Ratings
    for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]"):
        rating.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping votes
    for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]"):
        vote.append(i.text)
except NoSuchElementException as e:
    print("-")

# Creating a dataframe 
imdb=pd.DataFrame({'Name':name, 'Year Span':year, 'Genre':genre, 'Run Time':runtime, 'Ratings':rating, 'Votes':vote})
imdb

Legality Response number from our URL is: <Response [200]>

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,918,206"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"943,588"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"918,140"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"274,894"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"235,278"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,876"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,662"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"181,829"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,014"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"215,910"

10. ### Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [28]:
url = "https://archive.ics.uci.edu/"
page = requests.get(url)
print("Legality Response number from our URL is:", page) # to show the response output from the webpage
soup = BeautifulSoup(page.content)

driver=webdriver.Chrome(r"C:\Users\Lenovo\Downloads\Compressed\chromedriver_win32\chromedriver.exe")
driver.get(url)
driver.maximize_window()

Legality Response number from our URL is: <Response [200]>

In [29]:
respository=driver.find_element_by_xpath("//span[@class='normal']/b/a")
respository.click()

In [30]:
Name=[]
Type=[]
Task=[]
Attribute=[]
No_of_Instance=[]
No_of_Attribute=[]
Year=[]

In [31]:
# Scrapping data for dataset name
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

In [32]:
# Scrapping data for data type
try:
    types=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in types[1:]:
        Type.append(i.text)
except NoSuchElementException:
    Type.append('-')
    
# Scrapping data for default task
try:
    task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')
# Scrapping data for attribute type
try:
    attribute=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in attribute[1:]:
        Attribute.append(i.text)
except NoSuchElementException:
    Attribute.append('-')

In [33]:
# Scrapping data for number of instances
try:
    instance=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in instance[1:]:
        No_of_Instance.append(i.text)
except NoSuchElementException:
    No_of_Instance.append('-')
        
# Scrapping data for number of attributes
try:
    attribute_no=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in attribute_no[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('-')
        
# Scrapping data for the year details
try:
    year=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')

In [34]:
# Creating the dataframe
df=pd.DataFrame({"Dataset Name":Name, "Data Type":Type, "Default Task":Task, "Attribute Type":Attribute, 
                 "No of instances":No_of_Instance, "No of atrributes":No_of_Attribute, "Year":Year})
df

,Dataset Name,Data Type,Default Task,Attribute Type,No of instances,No of atrributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021